# Local Food Wastage Management System

# Problem Statement

Food wastage is a growing problem globally, with households, restaurants, and grocery stores discarding large amounts of surplus food. Meanwhile, many individuals and communities struggle with food insecurity, lacking access to adequate nutrition. This imbalance highlights the urgent need for an efficient system to redistribute surplus food to those who need it most.

The **Local Food Wastage Management System** aims to address this problem by creating a digital platform that connects **food providers** (restaurants, grocery stores, and households) with **food seekers** (NGOs, shelters, or individuals in need). Key features of the system include:

- **Food Listing:**  
  Providers can list surplus food with details such as quantity, type, expiry date, location, and meal category.

- **Food Claims:**  
  Receivers can browse available food and claim items based on location, type, and availability.

- **Database Management:**  
  All food listings, providers, receivers, and claim transactions are stored and managed using SQL for efficient tracking and reporting.

- **Interactive Interface:**  
  A Streamlit-based app allows users to interact with the system, perform CRUD operations, filter and search food donations, and visualize insights.

- **Analytics & Reporting:**  
  The system provides insights such as the most active providers, cities with the highest food donations, claim distributions, and popular food types to optimize redistribution efforts.

This system reduces food wastage, promotes social responsibility among food providers, and ensures that surplus food reaches those in need, improving community well-being and sustainability.

# Load, Inspect, and Prepare CSV Data for Food Wastage Management System

In [3]:
import pandas as pd

# -------------------------
#  Load CSV files
# -------------------------
try:
    providers_df = pd.read_csv("providers_data.csv")
    receivers_df = pd.read_csv("receivers_data.csv")
    food_df = pd.read_csv("food_listings_data.csv")
    claims_df = pd.read_csv("claims_data.csv")
    print(" All CSV files loaded successfully!")
except FileNotFoundError as e:
    print(" File not found:", e)
    exit()
except Exception as e:
    print(" Error loading CSVs:", e)
    exit()

# -------------------------
#  Preview the DataFrames
# -------------------------
print("\n--- Providers ---")
print(providers_df.head())

print("\n--- Receivers ---")
print(receivers_df.head())

print("\n--- Food Listings ---")
print(food_df.head())

print("\n--- Claims ---")
print(claims_df.head())

# -------------------------
#  Optional: Check for missing values
# -------------------------
print("\n--- Missing Values ---")
print("Providers:\n", providers_df.isna().sum())
print("Receivers:\n", receivers_df.isna().sum())
print("Food Listings:\n", food_df.isna().sum())
print("Claims:\n", claims_df.isna().sum())

# -------------------------
#  Optional: Convert date columns
# -------------------------
food_df['Expiry_Date'] = pd.to_datetime(food_df['Expiry_Date'], errors='coerce')
claims_df['Timestamp'] = pd.to_datetime(claims_df['Timestamp'], errors='coerce')

print("\n Date columns parsed successfully")

 All CSV files loaded successfully!

--- Providers ---
   Provider_ID                         Name           Type  \
0            1             Gonzales-Cochran    Supermarket
1            2  Nielsen, Johnson and Fuller  Grocery Store
2            3                 Miller-Black    Supermarket
3            4   Clark, Prince and Williams  Grocery Store
4            5               Coleman-Farley  Grocery Store

                                             Address            City  \
0  74347 Christopher Extensions\nAndreamouth, OK ...     New Jessica
1           91228 Hanson Stream\nWelchtown, OR 27136     East Sheena
2  561 Martinez Point Suite 507\nGuzmanchester, W...  Lake Jesusview
3     467 Bell Trail Suite 409\nPort Jesus, IA 61188     Mendezmouth
4  078 Matthew Creek Apt. 319\nSaraborough, MA 53978   Valentineside

                Contact
0       +1-600-220-0480
1  +1-925-283-8901x6297
2      001-517-295-2206
3      556.944.8935x401
4          193.714.6577

--- Receivers ---
   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

--- Food Listings ---
   Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
0        1     Bread        43   3/17/2025          110     Grocery Store
1        2      Soup        22   3/24/2025          791     Grocery Store
2        3    Fruits        46   3/28/2025          478  Catering Service
3        4    Fruits        15   3/16/2025          930        Restaurant
4        5      Soup        14   3/19/2025          279        Restaurant

           Location       Food_Type  Meal_Type
0  South Kellyville  Non-Vegetarian  Breakfast
1        West James  Non-Vegetarian     Dinner
2       Lake Regina           Vegan  Breakfast
3         Kellytown           Vegan      Lunch
4        Garciaport           Vegan     Dinner

--- Claims ---
   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

--- Missing Values ---
Providers:
 Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64
Receivers:
 Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64
Food Listings:
 Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64
Claims:
 Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

 Date columns parsed successfully

# MySQL Setup, Table Creation, CSV Loading, and Data Insertion for Food Wastage Management System

In [4]:
import pandas as pd
from sqlalchemy import create_engine, text
import mysql.connector

# -------------------------
#  Connect to MySQL (no DB yet)
# -------------------------
try:
    conn_mysql = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root@123"
    )
    cursor_mysql = conn_mysql.cursor()
    print(" Connected to MySQL server")
except mysql.connector.Error as err:
    print(" MySQL connection error:", err)
    exit()

# -------------------------
#  Create database if it doesn't exist
# -------------------------
try:
    cursor_mysql.execute("CREATE DATABASE IF NOT EXISTS food_wastage_db")
    print(" Database 'food_wastage_db' created or already exists")
except mysql.connector.Error as err:
    print(" Database creation error:", err)
    exit()

# -------------------------
#  Select the database
# -------------------------
cursor_mysql.execute("USE food_wastage_db")

# -------------------------
#  Table creation statements
# -------------------------
sql_statements = [
    """
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY AUTO_INCREMENT,
        Name VARCHAR(100),
        Type VARCHAR(50),
        Address VARCHAR(255),
        City VARCHAR(50),
        Contact VARCHAR(50)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID INT PRIMARY KEY AUTO_INCREMENT,
        Name VARCHAR(100),
        Type VARCHAR(50),
        City VARCHAR(50),
        Contact VARCHAR(50)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS food_listings (
        Food_ID INT PRIMARY KEY AUTO_INCREMENT,
        Food_Name VARCHAR(100),
        Quantity INT,
        Expiry_Date DATE,
        Provider_ID INT,
        Provider_Type VARCHAR(50),
        Location VARCHAR(50),
        Food_Type VARCHAR(50),
        Meal_Type VARCHAR(50),
        FOREIGN KEY (Provider_ID) REFERENCES providers(Provider_ID)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS claims (
        Claim_ID INT PRIMARY KEY AUTO_INCREMENT,
        Food_ID INT,
        Receiver_ID INT,
        Status VARCHAR(20),
        Timestamp DATETIME,
        FOREIGN KEY (Food_ID) REFERENCES food_listings(Food_ID),
        FOREIGN KEY (Receiver_ID) REFERENCES receivers(Receiver_ID)
    )
    """
]

# -------------------------
#  Execute table creation
# -------------------------
try:
    for stmt in sql_statements:
        cursor_mysql.execute(stmt)
    conn_mysql.commit()
    print(" Tables created successfully!")
except mysql.connector.Error as err:
    print("Table creation error:", err)
    conn_mysql.rollback()

cursor_mysql.close()
conn_mysql.close()

# -------------------------
# SQLAlchemy Engine for CSV insertion
# -------------------------
engine = create_engine("mysql+mysqlconnector://root:root%40123@localhost/food_wastage_db")

# -------------------------
#  Load CSV data
# -------------------------
try:
    providers_df = pd.read_csv("providers_data.csv")
    receivers_df = pd.read_csv("receivers_data.csv")
    food_df = pd.read_csv("food_listings_data.csv")
    claims_df = pd.read_csv("claims_data.csv")

    # Convert date columns
    food_df['Expiry_Date'] = pd.to_datetime(food_df['Expiry_Date'], errors='coerce')
    claims_df['Timestamp'] = pd.to_datetime(claims_df['Timestamp'], errors='coerce')
    print(" CSVs loaded and date columns parsed")
except Exception as e:
    print(" Error loading CSVs:", e)
    exit()

# -------------------------
#  Insert CSV data into MySQL
# -------------------------
try:
    providers_df.to_sql("providers", engine, if_exists="append", index=False)
    receivers_df.to_sql("receivers", engine, if_exists="append", index=False)
    food_df.to_sql("food_listings", engine, if_exists="append", index=False)
    claims_df.to_sql("claims", engine, if_exists="append", index=False)

    
    print(" CSV data inserted into MySQL successfully")
except Exception as e:
    print(" CSV insertion error:", e)

# -------------------------
#  Test Queries
# -------------------------
with engine.connect() as conn:
    # Show tables
    tables = conn.execute(text("SHOW TABLES")).fetchall()
    print("\n Tables in DB:", [t[0] for t in tables])

    # Preview providers
    df_providers = pd.read_sql("SELECT * FROM providers LIMIT 5", conn)
    print("\n Providers preview:")
    print(df_providers)

    # Join food_listings with providers
    query = """
    SELECT f.Food_ID, f.Food_Name, p.Name AS Provider_Name, f.Quantity, f.Expiry_Date
    FROM food_listings f
    JOIN providers p ON f.Provider_ID = p.Provider_ID
    LIMIT 10
    """
    df_food = pd.read_sql(query, conn)
    print("\n Food Listings with Provider Names:")
    print(df_food)

 Connected to MySQL server
 Database 'food_wastage_db' created or already exists
 Tables created successfully!
 CSVs loaded and date columns parsed
 CSV insertion error: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'providers.PRIMARY'
[SQL: INSERT INTO providers (`Provider_ID`, `Name`, `Type`, `Address`, `City`, `Contact`) VALUES (%(Provider_ID)s, %(Name)s, %(Type)s, %(Address)s, %(City)s, %(Contact)s)]
[parameters: [{'Provider_ID': 1, 'Name': 'Gonzales-Cochran', 'Type': 'Supermarket', 'Address': '74347 Christopher Extensions\nAndreamouth, OK 91839', 'City': 'New Jessica', 'Contact': '+1-600-220-0480'}, {'Provider_ID': 2, 'Name': 'Nielsen, Johnson and Fuller', 'Type': 'Grocery Store', 'Address': '91228 Hanson Stream\nWelchtown, OR 27136', 'City': 'East Sheena', 'Contact': '+1-925-283-8901x6297'}, {'Provider_ID': 3, 'Name': 'Miller-Black', 'Type': 'Supermarket', 'Address': '561 Martinez Point Suite 507\nGuzmanchester, WA 94320', 'City': 'Lake Jesusview', 'Contact': '001-517-295-2206'}, {'Provider_ID': 4, 'Name': 'Clark, Prince and Williams', 'Type': 'Grocery Store', 'Address': '467 Bell Trail Suite 409\nPort Jesus, IA 61188', 'City': 'Mendezmouth', 'Contact': '556.944.8935x401'}, {'Provider_ID': 5, 'Name': 'Coleman-Farley', 'Type': 'Grocery Store', 'Address': '078 Matthew Creek Apt. 319\nSaraborough, MA 53978', 'City': 'Valentineside', 'Contact': '193.714.6577'}, {'Provider_ID': 6, 'Name': 'Lawson-Walters', 'Type': 'Grocery Store', 'Address': '1889 Barnes Gateway\nAdamview, ID 87971', 'City': 'Shannonside', 'Contact': '144-860-6074x60544'}, {'Provider_ID': 7, 'Name': 'Ortiz-Lee', 'Type': 'Restaurant', 'Address': '1842 Villarreal Shores\nWilliamfort, CT 44529', 'City': 'Lake Christopherburgh', 'Contact': '(563)889-7190'}, {'Provider_ID': 8, 'Name': 'Curtis-Lewis', 'Type': 'Supermarket', 'Address': '4770 Miller Light Suite 260\nNew Charlesville, AR 97075', 'City': 'Washingtonville', 'Contact': '+1-521-027-8120x3301'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Provider_ID': 999, 'Name': 'Moody Ltd', 'Type': 'Grocery Store', 'Address': '17580 Ernest Hills\nLake Michaelmouth, OR 56416', 'City': 'Stevenchester', 'Contact': '637.300.3664x4880'}, {'Provider_ID': 1000, 'Name': 'Jenkins-Brooks', 'Type': 'Restaurant', 'Address': '53390 Evans Rapids Suite 982\nLake Meghan, MO 44235', 'City': 'Brendantown', 'Contact': '266-324-3458x95775'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

 Tables in DB: ['claims', 'food_listings', 'providers', 'receivers']

 Providers preview:
   Provider_ID                         Name           Type  \
0            1             Gonzales-Cochran    Supermarket
1            2  Nielsen, Johnson and Fuller  Grocery Store
2            3                 Miller-Black    Supermarket
3            4   Clark, Prince and Williams  Grocery Store
4            5               Coleman-Farley  Grocery Store

                                             Address            City  \
0  74347 Christopher Extensions\nAndreamouth, OK ...     New Jessica
1           91228 Hanson Stream\nWelchtown, OR 27136     East Sheena
2  561 Martinez Point Suite 507\nGuzmanchester, W...  Lake Jesusview
3     467 Bell Trail Suite 409\nPort Jesus, IA 61188     Mendezmouth
4  078 Matthew Creek Apt. 319\nSaraborough, MA 53978   Valentineside

                Contact
0       +1-600-220-0480
1  +1-925-283-8901x6297
2      001-517-295-2206
3      556.944.8935x401
4          193.714.6577

 Food Listings with Provider Names:
   Food_ID   Food_Name                   Provider_Name  Quantity Expiry_Date
0        1       Bread                   Figueroa-Soto        43  2025-03-17
1        2        Soup                   Aguilar Group        22  2025-03-24
2        3      Fruits          Lopez, Roach and Roach        46  2025-03-28
3        4      Fruits                   Cannon-Garcia        15  2025-03-16
4        5        Soup      Greene, Wood and Hernandez        14  2025-03-19
5        6  Vegetables                      Foster Ltd         4  2025-03-24
6        7       Dairy  White, Hutchinson and Williams        29  2025-03-25
7        8        Rice        Harris, Perez and Willis        49  2025-03-28
8        9       Bread                      Wong-Reese        46  2025-03-25
9       10        Rice                       Baird PLC        41  2025-03-20

In [2]:
food_df.to_sql("food_listings", engine, if_exists="append", index=False)
claims_df.to_sql("claims", engine, if_exists="append", index=False)

1000

# Food Wastage Management System: Analysis of Providers, Receivers, Food Listings, and Claims

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# -------------------------
#  SQLAlchemy Engine
# -------------------------
engine = create_engine("mysql+mysqlconnector://root:root%40123@localhost/food_wastage_db")

# -------------------------
#  Queries & Analysis
# -------------------------

with engine.connect() as conn:

    # ----- Food Providers & Receivers -----

    # a) Providers per city
    providers_city = pd.read_sql("""
        SELECT City, COUNT(*) AS Provider_Count
        FROM providers
        GROUP BY City
    """, conn)

    # b) Receivers per city
    receivers_city = pd.read_sql("""
        SELECT City, COUNT(*) AS Receiver_Count
        FROM receivers
        GROUP BY City
    """, conn)

    # c) Which type of food provider contributes the most food
    most_contributing_type = pd.read_sql("""
        SELECT p.Type, SUM(f.Quantity) AS Total_Quantity
        FROM food_listings f
        JOIN providers p ON f.Provider_ID = p.Provider_ID
        GROUP BY p.Type
        ORDER BY Total_Quantity DESC
        LIMIT 1
    """, conn)

    # d) Contact info of providers in a specific city
    city_name = "New York"  # Change as needed
    contacts = pd.read_sql(f"""
        SELECT Name, Contact, Type, Address
        FROM providers
        WHERE City = '{city_name}'
    """, conn)

    # e) Receivers who claimed the most food
    top_receivers = pd.read_sql("""
        SELECT r.Name, COUNT(c.Claim_ID) AS Claims_Count
        FROM claims c
        JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
        GROUP BY r.Name
        ORDER BY Claims_Count DESC
        LIMIT 10
    """, conn)

    # ----- Food Listings & Availability -----

    # a) Total quantity of food available
    total_food = pd.read_sql("SELECT SUM(Quantity) AS Total_Food FROM food_listings", conn)

    # b) City with highest number of food listings
    top_city = pd.read_sql("""
        SELECT Location AS City, COUNT(*) AS Listings_Count
        FROM food_listings
        GROUP BY Location
        ORDER BY Listings_Count DESC
        LIMIT 1
    """, conn)

    # c) Most commonly available food types
    top_food_types = pd.read_sql("""
        SELECT Food_Type, COUNT(*) AS Count
        FROM food_listings
        GROUP BY Food_Type
        ORDER BY Count DESC
        LIMIT 10
    """, conn)

    # ----- Claims & Distribution -----

    # a) Claims per food item
    claims_per_food = pd.read_sql("""
        SELECT f.Food_Name, COUNT(c.Claim_ID) AS Claims_Count
        FROM claims c
        JOIN food_listings f ON c.Food_ID = f.Food_ID
        GROUP BY f.Food_Name
        ORDER BY Claims_Count DESC
    """, conn)

    # b) Provider with highest successful claims
    top_provider = pd.read_sql("""
        SELECT p.Name, COUNT(c.Claim_ID) AS Successful_Claims
        FROM claims c
        JOIN food_listings f ON c.Food_ID = f.Food_ID
        JOIN providers p ON f.Provider_ID = p.Provider_ID
        WHERE c.Status = 'Completed'
        GROUP BY p.Name
        ORDER BY Successful_Claims DESC
        LIMIT 1
    """, conn)

    # c) Percentage of food claims by status
    claims_status = pd.read_sql("""
        SELECT Status, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims) AS Percentage
        FROM claims
        GROUP BY Status
    """, conn)

    # ----- Analysis & Insights -----

    # a) Average quantity claimed per receiver
    avg_quantity_per_receiver = pd.read_sql("""
        SELECT r.Name, AVG(f.Quantity) AS Avg_Quantity
        FROM claims c
        JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
        JOIN food_listings f ON c.Food_ID = f.Food_ID
        GROUP BY r.Name
        ORDER BY Avg_Quantity DESC
    """, conn)

    # b) Most claimed meal type
    most_claimed_meal = pd.read_sql("""
        SELECT f.Meal_Type, COUNT(c.Claim_ID) AS Count
        FROM claims c
        JOIN food_listings f ON c.Food_ID = f.Food_ID
        GROUP BY f.Meal_Type
        ORDER BY Count DESC
    """, conn)

    # c) Total quantity of food donated by each provider
    total_donated_by_provider = pd.read_sql("""
        SELECT p.Name, SUM(f.Quantity) AS Total_Donated
        FROM food_listings f
        JOIN providers p ON f.Provider_ID = p.Provider_ID
        GROUP BY p.Name
        ORDER BY Total_Donated DESC
    """, conn)

# -------------------------
#  Print Results
# -------------------------
print(" Providers per city:\n", providers_city)
print("\n Receivers per city:\n", receivers_city)
print("\n Top contributing provider type:\n", most_contributing_type)
print(f"\n Providers contact info in {city_name}:\n", contacts)
print("\n Top receivers by number of claims:\n", top_receivers)
print("\n Total quantity of food available:\n", total_food)
print("\n City with most food listings:\n", top_city)
print("\n Top food types:\n", top_food_types)
print("\n Claims per food item:\n", claims_per_food)
print("\n Provider with highest successful claims:\n", top_provider)
print("\n Percentage of claims by status:\n", claims_status)
print("\n Average quantity claimed per receiver:\n", avg_quantity_per_receiver)
print("\n Most claimed meal type:\n", most_claimed_meal)
print("\n Total quantity donated by each provider:\n", total_donated_by_provider)

 Providers per city:
                City  Provider_Count
0       New Jessica               1
1       East Sheena               1
2    Lake Jesusview               1
3       Mendezmouth               1
4     Valentineside               1
..              ...             ...
958    Manningshire               1
959   East Rossside               1
960      Joshuastad               1
961   Stevenchester               1
962     Brendantown               1

[963 rows x 2 columns]

 Receivers per city:
                   City  Receiver_Count
0       Port Carlburgh               1
1           Lewisburgh               1
2    South Randalltown               1
3     South Shaneville               1
4            Bakerport               1
..                 ...             ...
961        Lanechester               1
962         New Steven               1
963       South Sandra               1
964       Lake Jeffery               1
965      Shelbychester               1

[966 rows x 2 columns]

 Top contributing provider type:
          Type  Total_Quantity
0  Restaurant          6923.0

 Providers contact info in New York:
 Empty DataFrame
Columns: [Name, Contact, Type, Address]
Index: []

 Top receivers by number of claims:
                 Name  Claims_Count
0  William Frederick             5
1       Matthew Webb             5
2       Scott Hunter             5
3     Anthony Garcia             5
4    Alexandra Owens             4
5         Betty Reid             4
6    Jennifer Nelson             4
7   Kristina Simpson             4
8    Kristine Martin             4
9         Alvin West             4

 Total quantity of food available:
    Total_Food
0     25794.0

 City with most food listings:
         City  Listings_Count
0  New Carol               6

 Top food types:
         Food_Type  Count
0      Vegetarian    336
1           Vegan    334
2  Non-Vegetarian    330

 Claims per food item:
     Food_Name  Claims_Count
0        Rice           122
1        Soup           114
2       Dairy           110
3        Fish           108
4       Salad           106
5     Chicken           102
6       Bread            94
7       Pasta            87
8  Vegetables            86
9      Fruits            71

 Provider with highest successful claims:
           Name  Successful_Claims
0  Barry Group                  5

 Percentage of claims by status:
       Status  Percentage
0    Pending        32.5
1  Cancelled        33.6
2  Completed        33.9

 Average quantity claimed per receiver:
                    Name  Avg_Quantity
0           Nancy Jones          50.0
1            Lisa Pitts          50.0
2    Christopher Wright          50.0
3           Nancy Silva          50.0
4          Peggy Knight          50.0
..                  ...           ...
615       John Reynolds           2.0
616     Matthew Johnson           2.0
617      Kenneth Barnes           2.0
618        Amanda Kline           1.0
619       Joshua Hooper           1.0

[620 rows x 2 columns]

 Most claimed meal type:
    Meal_Type  Count
0  Breakfast    278
1      Lunch    250
2     Snacks    240
3     Dinner    232

 Total quantity donated by each provider:
                                 Name  Total_Donated
0                         Miller Inc          217.0
1                        Barry Group          179.0
2         Evans, Wright and Mitchell          158.0
3                        Smith Group          150.0
4                       Campbell LLC          145.0
..                               ...            ...
623                   Reyes and Sons            1.0
624                   Gonzales-Moore            1.0
625                  Norris-Townsend            1.0
626                        Mcgee PLC            1.0
627  Martinez, Armstrong and Carroll            1.0

[628 rows x 2 columns]